{% extends 'layout.html' %}

{% block title %}
    Home page.
{% endblock %}

{% block main %}
    {% if session.get('user_id') %}
        <div id='password_container'>
        <table>
            <thead>
                <tr>
                    <th>
                        Account name
                    </th>
                    <th>
                        Username
                    </th>
                    <th>
                        Password
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
            {% for password in (passwords) %}
            <tr>
                <td>
                    {{password[1]}}
                </td>
                <td>
                    {{password[2]}}
                </td>
                <td>
                    {{password[3]}}
                </td>
                <td class='flex justify-evenly w-52'>
                    <form action='/edit' method='get'>
                        <button class='edits' type='submit' name='account'>Edit</button>
                    </form> 
                    <form action='/delete' method='post'>
                        <button onclick="check(this)" class='deletes' type='submit' name='account'>Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            </tbody>
            </table>
            <form action='/' method='post' class='rounded-lg w-96 mx-auto border-2 border-black border-dashed'>
                <div class="mx-auto my-2 font-semibold">Add new password</div>
                <label>
                    Account name:
                    <input type='text' required name='account_name'>
                </label>
                <label>
                    Username:
                    <input type='text' required name='username'>
                </label>
                <label>
                    Password:
                    <input type='password' required  name='password'>
                </label>
                <button type='submit' id='submit_button' class='bg-antiwhite-500 text-antiwhite-100 rounded-lg my-2 p-2'>Submit</button>
            </form>
        </div> 
    <script src="{{ url_for('static', filename='index_user.js') }}"></script>
    {% else %}
    <div id='padlock'>
        <img src="{{ url_for('static', filename='padlock.png') }}"
            alt="CyberLock logo">
    </div>

    <div id="slogan">
        Your accounts are safe, with CyberLock.
    </div>

    <script src="{{ url_for('static', filename='index_guest.js') }}"></script>
    <script src="{{ url_for('static', filename='guest_nav.js') }}"></script>

    {% endif %}

{% endblock %}


