<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <title>
            CyberLock: {% block title %}{% endblock %}
        </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='output.css') }}">
        <script src="{{ url_for('static', filename='looks.js') }}"></script>
    </head>
    <body>
        <nav>
            <div id='nav_container'>
                <a href="/" id="logo">CyberLock</a>
                <div id="navbar"> 
                    {% if session["user_id"] %} 
                    {% else %}
                    <ul class="mt-4 mr-4">
                        <li class="li">
                            <button id="signup_button">Sign up</button>
                        </li>
                        <li class="li">
                            <button id='login_button'>Log in</button>
                        </li>
                    </ul>
                    {% endif %}
                </div>
            </div>
        </nav>
    </body>
</html>
